* {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 0 0 400px 0;
  background-image: url(https://i.ibb.co/KKhP3Br/filmmaker.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 30%;
  opacity: 0.9;
}

.content-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
  text-align: center;
}

.heading h1 {
  font-size: 48px;
}

.heading h2 {
  font-weight: normal;
}

.heading h3 {
  font-weight: normal;
}


.content {
  float: left;
  width: 33.3%;
  text-align: center;
}

img {
  max-width: 100%;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.text-content {
  width: 100%;
  display: inline-block;
  margin-top: 5px;
  font-size: 16px;
  color: #b3aeb5;
}

.button {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  background-color: #1e2749;
  border: none;
  color: #FFFFFF;
  font-size: 24px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 50px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
